---
# tasks file for spdx-generator
- include: "tasks/oah_install.yml"
  when: oah_command == "install"

- include: "tasks/oah_uninstall.yml"
  when: oah_command == "uninstall"

- include: "tasks/oah_validate.yml"
  when: oah_command == "validate"

- include: "tasks/oah_update.yml"
  when: oah_command == "update"
